# Notation:
index: sequence of labels  (are immutable and homogeneous)
series: 1d array with index
dataframes: 2d array with series as columns, it looks like a relational table, but there's much more. The data frames have
    methods which make easier to deal with them.

In [1]:
# Pre-defined lists
names = ['United States', 'Australia', 'Japan', 'India', 'Russia', 'Morocco', 'Egypt']
dr =  [True, False, False, False, True, True, True]
cpc = [809, 731, 588, 18, 200, 70, 45]

# Import pandas as pd
import pandas as pd



# Create dictionary my_dict with three key:value pairs: my_dict
my_dict={'n':names,'d':dr,'c':cpc}


# Build a DataFrame cars from my_dict: cars
cars=pd.DataFrame(my_dict)
cars.index = ["US", "AU", "JPN", "IND", "RUS","MOR","EG"]
#or directlu cars=pd.DataFrame(mydict,index=[...])

#how to give a general name to the labels of the row:
cars.index.name='country'

# Print cars
print(cars)

                     n      d    c
country
US       United States   True  809
AU           Australia  False  731
JPN              Japan  False  588
IND              India  False   18
RUS             Russia   True  200
MOR            Morocco   True   70
EG               Egypt   True   45

In [ ]:
#if index is immutable how do i change it?
#you must change all the elements in one operation like:
cars.index=["US", "AUS", "JP", "IN", "RS","MR","EGT"]
print(cars) #but note that it deletes also the index.name

                 n      d    c
US   United States   True  809
AUS      Australia  False  731
JP           Japan  False  588
IN           India  False   18
RS          Russia   True  200
MR         Morocco   True   70
EGT          Egypt   True   45

In [ ]:
#NOTE: NOW I SHOW HOW TO ACCESS TO DATA CREATING NEW DATA FRAMES THANKS TO THE DOUBLE SQUARE BRACKETS (ALSO IN LOC AND ILOC)
#BUT WHEN YOU DON'T WANT A DATAFRAME BUT A PANDASERIES YOU HAVE TO USE ONLY ONE BRACKETS

In [ ]:
#axessing like a vector but the problem is that row and column indexes are swap:
#simple indexing:
cars['c']['US'] #note [column][row]!!!

#is the same as
cars.c['US']

# how to have slices of the data frame with brackets (less efficient than using loc and iloc):

#columns:
print(cars[['n','d']]) #columns are indexed with labels

#rows
print(cars[1:4])  #rows are indexed with SLICING, not only one number

                 n      d
US   United States   True
AUS      Australia  False
JP           Japan  False
IN           India  False
RS          Russia   True
MR         Morocco   True
EGT          Egypt   True
             n      d    c
AUS  Australia  False  731
JP       Japan  False  588
IN       India  False   18

In [ ]:
#how to access with loc(thanks to labels) or iloc(thanks to indexes):

#loc:
#the advantage with loc is that you can access to rows with labels, and you can select a slice indicating simultaneously
#rows and columns:
print(cars.loc[['US','AUS'],['n']])   #if you want all the columns or all the rows write cars.loc([:,['n']])

#iloc
#like lok but instead of labels you write indexes (not slicing!), and you MUST do that for both columns and rows
print(cars.iloc[[0,1],[0]])

                 n
US   United States
AUS      Australia
                 n
US   United States
AUS      Australia

In [ ]:
#how to do slicing on the panda series:

#using normal indexing:
cars['n'][1:4]

#using loc: !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
cars.loc['US':'AUS','n'] #note that it includes also the right extreme of the interval!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

cars.iloc[1:4,1] #this like normal, doesn't include the right extreme.

AUS    False
JP     False
IN     False
Name: d, dtype: bool

In [ ]:
#selection of columns or rows indicated by a list:
cars.loc[['US','AUS'],'n']
cars.iloc[[0,4],1]

US    True
RS    True
Name: d, dtype: bool

In [ ]:
#USE OF PANDASERIES:
p_s=cars['c']
print(p_s)
bool_s=p_s>100  
print(bool_s)

#you can use it to indexing the table, taking only the rows with that attribute >100:
print(cars[bool_s])

#note that you can directly do this: cars[cars['c']>100]

US     809
AUS    731
JP     588
IN      18
RS     200
MR      70
EGT     45
Name: c, dtype: int64
US      True
AUS     True
JP      True
IN     False
RS      True
MR     False
EGT    False
Name: c, dtype: bool
                 n      d    c
US   United States   True  809
AUS      Australia  False  731
JP           Japan  False  588
RS          Russia   True  200

In [ ]:
#what if I want to do a more advanced selection like the rows with the attribute c greater than 100 and lower than 600?
import numpy as np
print(cars[np.logical_and(cars['c']>100,cars['c']<600)])
#or you can simply do this:
print(cars[(cars['c']>100) & (cars['c']<600)])  #note the scheme ()&(), without those parenthesis it doesn't work

         n      d    c
JP   Japan  False  588
RS  Russia   True  200
         n      d    c
JP   Japan  False  588
RS  Russia   True  200

In [ ]:
#you can also indexize a column basing on another one like:
cars.c[cars.d==1]+=1000

<ipython-input-19-702201933952>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cars.c[cars.d==1]+=1000

In [ ]:
#iterating in data frames:
for what in cars:   #it prints only the column labels!
    print(what)  

print('\n')
    
# like with dictionaries for k,v in D.items() we have to do  for row_label,row_data in cars.iterrows()
for row_label,row_data in cars.iterrows():
    print(row_label,' : ',row_data['c'])

n
d
c


US  :  2809
AUS  :  731
JP  :  588
IN  :  18
RS  :  2200
MR  :  2070
EGT  :  2045

In [ ]:
#how to add a column in a not efficient way (it creates series at each iteration:

for label,row_data in cars.iterrows():
    cars.loc[label,'new_column_label']='new_value'
print(cars)


#a more efficient way: using the function apply, for instance if the new column is the result of the application of
#a function to another column:

cars['new_column_label2']=cars["n"].apply(len) #if you need to iterate on other rows
print(cars)

#or simply

                 n      d     c new_column_label
US   United States   True  2809        new_value
AUS      Australia  False   731        new_value
JP           Japan  False   588        new_value
IN           India  False    18        new_value
RS          Russia   True  2200        new_value
MR         Morocco   True  2070        new_value
EGT          Egypt   True  2045        new_value
                 n      d     c new_column_label  new_column_label2
US   United States   True  2809        new_value                 13
AUS      Australia  False   731        new_value                  9
JP           Japan  False   588        new_value                  5
IN           India  False    18        new_value                  5
RS          Russia   True  2200        new_value                  6
MR         Morocco   True  2070        new_value                  7
EGT          Egypt   True  2045        new_value                  5

In [ ]:
cars['some_zero']=[0,0,1,2,3,4,5]
print(cars)

                 n      d     c new_column_label  new_column_label2  some_zero
US   United States   True  2809        new_value                 13          0
AUS      Australia  False   731        new_value                  9          0
JP           Japan  False   588        new_value                  5          1
IN           India  False    18        new_value                  5          2
RS          Russia   True  2200        new_value                  6          3
MR         Morocco   True  2070        new_value                  7          4
EGT          Egypt   True  2045        new_value                  5          5

In [ ]:
#vectorization:

#example of a fucntion applied to all a column (but you can do it also to all the dataframe) without loops:
cars.c.floordiv(10)

#or if you want to apply a function created from you:
def floo(n):
    return n//10
    
cars.c.apply(floo) #note that you don't write the input of the function because the apply function puts the element of the column
#as input.

#you can do the same thing defining directly (and locally) a function thanks to the keyword lambda:
cars.c.apply(lambda n: n//5)

#apply is not applable to the index!!! you must use map.

US     561
AUS    146
JP     117
IN       3
RS     440
MR     414
EGT    409
Name: c, dtype: int64

In [ ]:
#operation on strings:
print(cars.index) #it contains a vector of strings.
#to work on strings we need this kind of syntex:
#cars.index.str.lower() 
#so to modify all the labels:
cars.index=cars.index.str.lower()
print(cars)


# for the index we must use map instead of apply with a little different syntax:
print(cars.index.map(str.upper))

Index(['US', 'AUS', 'JP', 'IN', 'RS', 'MR', 'EGT'], dtype='object')
                 n      d     c new_column_label  new_column_label2  some_zero
us   United States   True  2809        new_value                 13          0
aus      Australia  False   731        new_value                  9          0
jp           Japan  False   588        new_value                  5          1
in           India  False    18        new_value                  5          2
rs          Russia   True  2200        new_value                  6          3
mr         Morocco   True  2070        new_value                  7          4
egt          Egypt   True  2045        new_value                  5          5
Index(['US', 'AUS', 'JP', 'IN', 'RS', 'MR', 'EGT'], dtype='object')

In [ ]:
#how to select only columns which have ALL NON ZERO VALUES:

#let's add a column with some zero before:
cars['some_zero']=[None,None,1,2,3,4,5]
#print(cars)
print(cars)
print('\n',cars.all())  #note that also false value are considered as zeros.
#so let's select only the rows without zeros  (Nona/Nan instead is not considered as a zero!)
print('\n',cars.loc[:,cars.all()])

#or in the opposite we may ask the columns with ANY NON ZERO values, so in this case all the dataframe:
print(cars.loc[:,cars.any()])

                 n      d     c new_column_label  new_column_label2  some_zero
us   United States   True  2809        new_value                 13        NaN
aus      Australia  False   731        new_value                  9        NaN
jp           Japan  False   588        new_value                  5        1.0
in           India  False    18        new_value                  5        2.0
rs          Russia   True  2200        new_value                  6        3.0
mr         Morocco   True  2070        new_value                  7        4.0
egt          Egypt   True  2045        new_value                  5        5.0

 n                     True
d                    False
c                     True
new_column_label      True
new_column_label2     True
some_zero             True
dtype: bool

                  n     c new_column_label  new_column_label2  some_zero
us   United States  2809        new_value                 13        NaN
aus      Australia   731        new_value                  9        NaN
jp           Japan   588        new_value                  5        1.0
in           India    18        new_value                  5        2.0
rs          Russia  2200        new_value                  6        3.0
mr         Morocco  2070        new_value                  7        4.0
egt          Egypt  2045        new_value                  5        5.0
                 n      d     c new_column_label  new_column_label2  some_zero
us   United States   True  2809        new_value                 13        NaN
aus      Australia  False   731        new_value                  9        NaN
jp           Japan  False   588        new_value                  5        1.0
in           India  False    18        new_value                  5        2.0
rs          Russia   True  2200        new_value                  6        3.0
mr         Morocco   True  2070        new_value                  7        4.0
egt          Egypt   True  2045        new_value                  5        5.0

In [ ]:
 #how to ask if the dataframe has any Nan value?
print(cars.loc[:,cars.isnull().any()])

#how to ask all columns which DON'T HAVE Nan:
print(cars.loc[:,cars.notnull().all()])

#we can also remove the rows with some Nan:
print(cars.dropna(how='any'))   #note that it doesn't modifies the old dataframe, it return a new one (if you do print(cars)
#you see that isn't changed)

     some_zero
us         NaN
aus        NaN
jp         1.0
in         2.0
rs         3.0
mr         4.0
egt        5.0
                 n      d     c new_column_label  new_column_label2
us   United States   True  2809        new_value                 13
aus      Australia  False   731        new_value                  9
jp           Japan  False   588        new_value                  5
in           India  False    18        new_value                  5
rs          Russia   True  2200        new_value                  6
mr         Morocco   True  2070        new_value                  7
egt          Egypt   True  2045        new_value                  5
           n      d     c new_column_label  new_column_label2  some_zero
jp     Japan  False   588        new_value                  5        1.0
in     India  False    18        new_value                  5        2.0
rs    Russia   True  2200        new_value                  6        3.0
mr   Morocco   True  2070        new_value                  7        4.0
egt    Egypt   True  2045        new_value                  5        5.0

In [ ]:
#for some reason can be useful to have an index made of two values/labels or more, so:
cars=cars.set_index(['n',cars.index]) #for instance i can use the old index and also the column n to became the new index.
print(cars)

#note this:
print('\n')
print(cars.index.name)
print(cars.index.names)


#now that you have more than one index you can play with it: in cases in which one of the two indexes is repeated, if you
#index just it so it's like doing a slicing on the other one automatically because you select more rows.

#fancy indexing in case or more indexes, look at it if needed: Manipulating DataFrames with pandas->Advanced indexing->hierarchical indexing

                       d     c new_column_label  new_column_label2  some_zero
n
United States us    True  2809        new_value                 13        NaN
Australia     aus  False   731        new_value                  9        NaN
Japan         jp   False   588        new_value                  5        1.0
India         in   False    18        new_value                  5        2.0
Russia        rs    True  2200        new_value                  6        3.0
Morocco       mr    True  2070        new_value                  7        4.0
Egypt         egt   True  2045        new_value                  5        5.0


None
['n', None]

In [ ]:
#how to sort a dataframe basing on the index:
print(cars.sort_index())

                       d     c new_column_label  new_column_label2  some_zero
n
Australia     aus  False   731        new_value                  9        NaN
Egypt         egt   True  2045        new_value                  5        5.0
India         in   False    18        new_value                  5        2.0
Japan         jp   False   588        new_value                  5        1.0
Morocco       mr    True  2070        new_value                  7        4.0
Russia        rs    True  2200        new_value                  6        3.0
United States us    True  2809        new_value                 13        NaN

In [ ]:
import pandas as pd

trials=pd.DataFrame({'id':[1,2,3,4],'treatment':['A','A','B','B'],'gender':['F','M','F','M'],'response':[5,3,8,9]})

#reshape a dataframe with the function 'pivot:
print(trials.pivot(index='treatment',columns='gender',values='response'))
#or if you don't speciy the values, it will be all the remanent columns
print(trials.pivot(index='treatment',columns='gender'))
#but pivoting requires unique column pairs to identify values in the new value. the solution: pivot_table


#another way to obtain it:
trials=trials.set_index(['treatment','gender'])
print(trials.unstack(level='gender')) 
#the column specified is the one to be moved to the index
#the difference is that this one gives an hierarchical indexing in general.
#or you could use integer indexing: print(trials.unstack(level=1))

#the method stack does the opposite


#but i obtain a hierarchical indexing, what if I want to change it?
print(trials)
print(trials.swaplevel(0,1))
#then you can sort it:
trials.swaplevel(0,1).sort_index()

#see the method 'melt'

gender     F  M
treatment
A          5  3
B          8  9
          id    response
gender     F  M        F  M
treatment
A          1  2        5  3
B          3  4        8  9
          id    response
gender     F  M        F  M
treatment
A          1  2        5  3
B          3  4        8  9
                  id  response
treatment gender
A         F        1         5
          M        2         3
B         F        3         8
          M        4         9
                  id  response
gender treatment
F      A           1         5
M      A           2         3
F      B           3         8
M      B           4         9

                  id  response
gender treatment
F      A           1         5
       B           3         8
M      A           2         3
       B           4         9

# MACHINE LEARNING LABS

In [ ]:
#learnt in labs:

help(name_function) # to have informations!!

###########
#typical imports:
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np


from sklearn.metrics import accuracy_score, classification_report, confusion_matrix, silhouette_score, silhouette_samples
from sklearn.model_selection import cross_val_score, train_test_split, GridSearchCV, ParameterGrid

from sklearn.ensemble import BaggingClassifier

from sklearn.svm import SVC
from sklearn.linear_model import Perceptron
from sklearn.neural_network import MLPClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsClassifier

from sklearn.preprocessing import OneHotEncoder, OrdinalEncoder, MinMaxScaler
from sklearn.compose import ColumnTransformer

from sklearn.cluster import KMeans
from sklearn.cluster import DBSCAN




#useful staff:

#transform something in a dataframe:
df = pd.DataFrame(dictionary)

# set random state:
random_state = 15
np.random.seed(random_state)

#import a file from the same folder
dataset=pd.read_csv('wine.data',sep=',',names=[list of names to give to the columns]) #by default the separator is ','
#if it is from another folder put the whole path, using / instead of \.

#import as text file
data_file = 'ex1_4dim_data.csv'
X = np.loadtxt(data_file, delimiter = ',')

#import from the web:
url = 'http://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-red.csv'
dataset = pd.read_csv(url, sep = ';')

#import data from another folder:
dataset=sns.load_dataset('C:/Users/97and/OneDrive/Desktop/machine learning/lab/lab2_decisiontree/ml_03-01-intro-iris/ml_03-01-intro-iris/data/iris'\,
                        names=[list of names to give to the columns])



#############
#look the data:

dataset.columns # it shows the column names
dataset.dtypes #type of each column
dataset.head(n) #remember the parenthesis! it create a beauteful view of the data in a table visualizing only the first n rows
dataset.index
dataset.values
dataset.index.names
dataset['name_column'].value_counts()
dataset['new_column']=vector
# look the class names, in order and without repetition:
df[target_name].unique()
classes.sort()
# sort following the index:
dataset.sort_index(ascending=1 or 0)


#####histogram:

#histogram for only one column, with numeric values:
plt.hist(dataset['name_column']);  #remember the semicolumn ';' to avoid outoput of some properties of the histogram.

#histogram for only one column, with strings:
dataset['name_column'].value_counts().plot(kind = 'bar')

#histogram for all the columns with numeric values all together:
pd.DataFrame.hist(dataset, figsize = [15,15]);


####### statistic:
dataset.describe() #it computes all the useful statistic (only of the numeric columns
dataset['name_column'].describe()#to apply it only to one 'target column'


########## boxplot:
#https://seaborn.pydata.org/generated/seaborn.boxplot.html  for info about it

import seaborn as sns
sns.boxplot(dataset['attribute1'],dataset['attribute2']) # to do it only of a column or column vs column
df.boxplot() # to do it of any columns in the same plot

#if you don't see the box look with describe the column: probably all the values are close to zero
# you see that beacuse the mean has a low value and the 25%,50% and 75% are all =0.
#solution: (use the np.log10 to see it after adding 1)

from numpy import log10
sns.boxplot(log10(dataset['attribute1']+1), dataset['attribute2'])
#if the values are not close to zero but exactly zero, you won't see the boxplot anyway.
#if ypu want to see the boxplot excluding them:
sns.boxplot(dataset['attribute1']!=0, dataset['attribute2'])


#### pairplot:
sns.pairplot(dataset, hue='class_column_name', height=2);

# scatter plot
plt.scatter(dataset['attribute1'],dataset['attribute2'])

#typical commands for plots:
plt.figure(figsize=[10,10])
plt.grid()  # plots a grid on the data
plt.show()

SyntaxError: invalid syntax (<ipython-input-30-a08287f95b8d>, line 45)

In [ ]:
# PREPROCESSING:
scaler = MinMaxScaler()
X = scaler.fit_transform(X)

#DO THE TRANSFORMATION ONLY IF THE PROBLEM OF SCALE IS BETWEEN THE ATTRIBUTES OF INTEREST



tumor_size_dict = dict(zip(list(df['tumor-size'].unique()),list(df['tumor-size'].unique())))
df['tumor-size'] = df['tumor-size'].map(tumor_size_dict)


categorical_features = df.dtypes.loc[df.dtypes == 'object'].index.values
print("The non-numeric features are:")
print(categorical_features)

numeric_features = list(set(df.dtypes.index.values)-set(categorical_features))
print("The numeric features are:")
print(numeric_features)

ordinal_features =['age', 'tumor-size','inv-nodes']
print("The ordinal features are:")
print(ordinal_features)

categorical_features = list(set(categorical_features) - set(ordinal_features) - set(['Class']))
print("The categorical features are:")
print(categorical_features)



OHE=OneHotEncoder(sparse=False,dtype=np.int32,handle_unknown='ignore')
ORE=OrdinalEncoder(dtype=np.int32)

preprocessor=ColumnTransformer(
                   transformer= [('categ',OHE,columns_categ),('ordinal',ORE,columns_ordinal)],remainder='passthrough')

#fit
preprocessor.fit(X)
#fit transform
X_processed = preprocessor.fit_transform(X)      # note that fit and fit_transform are methods, not functions!

SyntaxError: invalid syntax (<ipython-input-31-4b2ffc4e5519>, line 5)

In [ ]:
########## supervised learning:
model=algorithm
model.fit(X,y)
y_pred=model.predict(X)

#### preparing data:

# divide all columns=X   vs   target column=y
X = dataset.drop('classes_column', axis=1)
y= dataset['classes_column']



#if the dataset is taken from sklearn libraries:
X=dataset.data
y=dataset.target
# divide in test and training set
from sklearn.model_selection import train_test_split
Xtrain, Xtest, ytrain, ytest = train_test_split(X, y, random_state=1)


######## classifier: decision tree
from sklearn.tree import DecisionTreeClassifier       # 1. choose model class
model = DecisionTreeClassifier(criterion = 'entropy',max_depth=3) # 2. instantiate model and set the hyperparameters
model.fit(Xtrain, ytrain)                             # 3. fit model to data
y=model.predict(Xtrain)                               # 4. predict labels


#accuracy:
from sklearn.metrics import accuracy_score

####### training error:
ytrain_pred = model.predict(Xtrain)                  # 4. use the model on training data
accuracy_train = accuracy_score(ytrain, ytrain_pred)

####### test error
ytest_pred = model.predict(Xtest)                  # 5. use the model on new data
accuracy_test = accuracy_score(ytest, ytest_pred)

#the function simply does this:
accuracy_train = np.mean(y_train == y_predicted_train) * 100

# recall, precision etc:
print(classification_report(y_test, y_predicted))

#conf matrix:
print(confusion_matrix(y_test, y_predicted))



# hyperparamiter regularization, using simply for of validations:

scores = []
for par in parameter_values:
    estimator = tree.DecisionTreeClassifier(criterion="entropy"
                                            , max_depth = par
                                           )
    estimator.fit(X_train_t, y_train_t)
    y_predicted_val = estimator.predict(X_val)
    score =  accuracy_score(y_val, y_predicted_val) * 100 # compute the matches between prediction and true classes
    scores.append(score)

plt.figure(figsize=(32,20))
plt.plot(parameter_values, scores, '-o', linewidth=5, markersize=24)
plt.xlabel('max_depth')
plt.ylabel('accuracy')
plt.title("Score with validation varying max_depth of tree", fontsize = 24)
plt.show();


# hyperparamiter regularization, using for of crossvalidation (which is itself for of validations)
avg_scores = []
for par in parameter_values:
    estimator = tree.DecisionTreeClassifier(criterion="entropy"
                                            , max_depth = par
                                            )
    scores = cross_val_score(estimator, X_train, y_train
                             , scoring='accuracy', cv = 5)  
    # cross_val_score produces an array with one score for each fold
    avg_scores.append(np.mean(scores))
print(avg_scores)

# take the best parameter:
top_par = parameter_values[np.argmax(scores)]


#ensemble method: bagging
estimator_bagging = BaggingClassifier(tree.DecisionTreeClassifier(criterion="entropy"
                                             , max_depth = par)
                                          , max_samples=0.5
                                          , max_features=0.5
                                         )




# print with format:
print("Simple HoldOut and full tree        :   {:.1f}%      {}".format(accuracy_ho, fitted_max_depth))



# GRIDSEARCH:
# input example:
param_svc = [{'kernel': ['rbf'], 
                    'gamma': [1e-3, 1e-4],
                    'C': [1, 10, 100, 1000],
                    },
                    {'kernel': ['linear'],
                     'C': [1, 10, 100, 1000],                     
                    },
                   ]
#use of grid search:
clf = GridSearchCV(SVC(), param_svc , cv=5,
                     scoring=precision_macro,  
                     iid = False, 
                     return_train_score = False,
                     n_jobs = 2, # this allows using multi-cores
                           )

clf.best_score_
clf.best_params_
clf.cv_results_['mean_test_score']
clf.cv_results_['std_test_score']
clf.cv_results_['params']
clf.classes_



######## DECISION TREE:
#model:
from sklearn.tree import DecisionTreeClassifier       # 1. choose model class
model = DecisionTreeClassifier(criterion = 'entropy') # 2. instantiate model and set the hyperparameters

#visualize it:
from matplotlib import pyplot
from sklearn.tree import plot_tree
from matplotlib.pyplot import figure

plot_tree(model
#          , fontsize=6
          , filled=True
          , feature_names = X.columns
          , class_names = str(model.classes_)
          , rounded = True
          , proportion = True
          , rotate = False
         ); 

# feature_names and class_names must be in alphabetic order. you can use this function to do it: 
class_names2pass=sorted(y.unique()) # or directly give as input str(model.classes_)

NameError: name 'algorithm' is not defined

In [ ]:
#UNSUPERVISED:   
cl=algorithm()
labels=cl.fit_predict(dataset)

#usually the array is a fucking array! you can't use all the dataframe methods.

#kmeans
distortions = []    # also called inertia_ !!!!
silhouette_scores = []
for i in k_range:
    km = KMeans(n_clusters=i, 
                init='k-means++', 
                n_init=10, 
                max_iter=300, 
                random_state=rnd_state)
    y_km = km.fit_predict(X)
    distortions.append(km.inertia_)        # note that the inertia_ is an attribute of the model!!
    silhouette_scores.append(silhouette_score(X,y_km))    # of course as input is needed the whole dataset and the labels assigned by your clastering scheme.
    
plot_clusters(X,y_km,dim=(focus[0],focus[1]), points = km.cluster_centers_)  # this is a function given by the prfessor
print('Distortion: %.2f' % km.inertia_)

#evaluation of the clusters
cluster_labels = np.unique(y_km)
n_clusters = cluster_labels.shape[0] # it is the number of rows

# Compute the Silhouette Coefficient for each sample, with the euclidean metric
silhouette_score_samples = silhouette_samples(X, y_km, metric='euclidean')
plot_silhouette(silhouette_score_samples, y_km)  
# THIS IS NOT THE PLOT TO BE USED TO FIND THE BEST K! BUT IS NEEDED TO COMPARE CLUSTERING SCHEME.
#anyway is a function given by the professor.


#DBSCAN
db = DBSCAN()
y_db = db.fit_predict(X)



#it's parameters are eps=radious to define the neighb. and MinPoints to define if an object is core or border.

#if there are labels=-1 those are noise!! Use the method unique to help you find them.

#compute centers, unlike kmeans which are given doing km.cluster_centers_

#cluster_centers = np.empty((n_clusters,X.shape[1]))  #if you want to pre-create the array.
for i in cluster_labels:
    cluster_centers[i,:] = np.mean(X[y_db==i,:], axis = 0) #the mean of all the values of that cluster, in vertical direction!

In [ ]:
#other staff:

#zip([1,2,3],[a,b,c])-> ((1,a),(2,b),(3,c))
#map(sqrt(),[1,2,3])  the output is a map object, converti it in list or set
#df.map(dictionary)   is going to substitute to all the value='key of the dictionary' a value ='value of the dictionary'


#use the function ParameterGrid to have all the combinations of the dictionary values that you give him.
params = list(ParameterGrid({'eps': list(np.arange(0.05, 1, 0.05)), 'min_samples': list(range(1,10,1))}))  
#remember to convert the result in a list.


for i in range(len(params)):
    db = DBSCAN(**(params[i]))   # it must be passed as input in this way.
    
    
    
    
            
#visualize them         
print("Rows with missing InvoiceNo before removing")
df1[df1['Attribute'].isna()]   # the ones which are NaN in that column
#remove them:
df2 = df1.dropna(axis=0, subset=['InvoiceNo'])